

/*타이머 시작*/
.timerA {
    background-color: rgb(246, 246, 246);
    border: solid 0px;
    border-radius: 2em / 2.5em;
    width: 422px;
    height: 345px;
   

}
.timerA .clock {
    text-align: center;
    padding-top: 33px;
    font-size: 111px;
    font-family: "Numans", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.timerA .tesk_name {
    margin: 0;
    height: 53.2px;
    font-size: 47.3px;
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: none; /* 테두리 제거 */
    background: none; /* 배경 제거 */
    outline: none; /* 포커스 시 테두리 제거 */
    color: rgb(0, 0, 0); /* 텍스트 색상 설정 */
    width: 100%;
    text-align: center;
    pointer-events: auto;
}

.timerA .button_container {
    width: 100%;
    height: 128.3px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
}
.timerA .button_Start {
    background-color: rgb(255, 145, 10);
    width: 170px;
    height: 60px;
    border: 0px solid;
    border-radius: 5em / 5em;
    margin-right: 27px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "Numans", sans-serif;
    font-weight: 600;
    font-style: normal;
    
}
.timerA .button_Pause {
    width: 60px;
    height: 60px;
    background: url(./images/pause.png);
    background-size: cover;
    background-color: rgba(203, 205, 207, 0.561);
    border: solid 0px;
    border-radius: 50%;
    margin-right: 20px;
}
.timerA .button_Time_Container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
}
.timerA .button_Time {
    width: 30px;
    height: 30px;
    border: solid 0px;
    border-radius: 5px / 5px;
    background-color: rgba(203, 205, 207, 0.561);
    margin-left: 1px;
    margin-right: 1px;
}
/*타이머 끝*/

#timer{
    position: absolute; /* 절대 위치 설정 */
    cursor: grab;
}




.bg {
    width: 100vw;
    height: 100vw;
    background-image: url(./images/bg.png);
    background-size: cover;
    background-repeat : no-repeat;
    background-position: center;

   
}